/* General Body Styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    line-height: 1.6;
  }
  
  /* Header Styling */
  header {
    background: linear-gradient(to right, #f12711, #f5af19);
    text-align: center;
    padding: 40px 0;
    font-family: 'Georgia', serif;
  }
  
  header h1 {
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  header h1 i {
    margin-right: 10px;
  }
  
  
  /* Main Content Styling */
  main .container {
    font-family: 'Arial', sans-serif;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  /* Card Styling */
  .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    border-radius: 10px; /* Increased border-radius */
  }
  
  .card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  /* Pokemon Details and Media Styling */
  #pokemon-details .media {
    align-items: center;
  }
  
  #pokemon-details h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  #pokemon-details .media img {
    max-width: 150px;
    border-radius: 10px;
  }
  
  #pokemon-details .media .media-body {
    margin-left: 20px;
  }
  
  #pokemon-description p {
    font-size: 1rem;
    line-height: 1.5;
  }
  
  /* Radar Chart Styling */
  #radarChart {
    max-width: 400px;
  }
  
  /* Comparison Dropdowns Styling */
  .custom-select {
    width: 200px;
  }
  
  /* Reset Button Styling */
  #reset-button {
    background-color: #f12711;
    border-color: #f12711;
    color: white;
  }
  
  .pokedex-header {
    background-color: #f00;
    border-bottom: 5px solid #000;
}

.pokedex-navbar {
    background-color: #f00;
    border-bottom: 3px solid #fff;
}

.pokedex-brand {
    font-family: 'Courier New', monospace;
    font-size: 22px;
    color: #fff;
}

.pokedex-title {
    background-color: #fff;
    color: #333;
    font-family: 'Courier New', monospace;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.pokeball-logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
